<div class="container-sm">
    <h2 class="display-2 my-3">Budget List</h2>
    <button class="btn btn-primary" mat-button routerLink="/budget/new">New Item</button>

    <ul class="list-group list-group-flush">
        <li *ngFor="let item of items"class="list-group-item">
            <span class="badge rounded-pill bg-secondary"
                 [ngClass]="'bg-' + item.getCategoryType()">{{item.category}}</span>
            {{item.title}} - {{item.value}}
            <button class="btn btn-primary" style="float:right" mat-button routerLink="/budget/new">Edit</button>
        </li>
    </ul>
</div>